.form-container {
    position: relative;
    top: 200px;
    width: 500px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #8080801a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
